.dostavka__list {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 25px;
}

.dostavka__item {
}

.dostavka__link {
    padding: 15px 35px 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: #535353;
}

.dostavka__link--active {
    color: #fff;
    background-color: #3D4F64;
    border-radius: 2px 2px 0px 2px;
}

.dostavka__left {
    max-width: 645px;
}

.dostavka__title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #535353;
}

.dostavka__text {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #535353;
}